* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

.container {
  width: 50%;
  margin: 24px auto;
  box-shadow: 2px 5px 5px rgb(112, 109, 109);
  background-color: #fff;
}

ul {
  list-style: none;
}

li {
  padding: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.top-list {
  display: flex;
  justify-content: space-between;
}

.enter-icon {
  background-image: url("../img/enter.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 1px;
}

.todo-title {
  font-weight: 800;
}

.list {
  margin: 0;
  padding: 0 15px;
  height: 3em;
}

input[type="text"] {
  padding: 8px;
  width: 90%;
  border: none;
  outline: none;
}

.top-list input {
  font-style: italic;
}

input[type="checkbox"] {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.before {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  height: 100%;
}

.task-editable {
  font-weight: bold;
  font-style: normal;
}

.task-editable:focus {
  padding: 0;
}

.menu-icon {
  color: #3f3f3f;
  width: 20px;
  height: 20px;
}

.delete-icon {
  display: none;
}

.menu-icon:hover {
  cursor: all-scroll;
  color: #333;
}

.clean {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  cursor: pointer;
}

.clean:hover {
  text-decoration: underline;
}
