* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

.container {
  width: 50%;
  margin: 24px auto;
  box-shadow: 2px 5px 5px rgb(112, 109, 109);
  background-color: #fff;
}

ul {
  list-style: none;
}

li {
  padding: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.todo-title {
  font-weight: 800;
}

input[type="text"] {
  padding: 8px;
  font-style: italic;
  width: 90%;
  border: none;
}

input[type="checkbox"] {
  margin-right: 15px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

.clean {
  padding: 15px;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;
}
